@keyframes grain {
	0%, 100% { background-position:0 0  }
	10% { background-position:-5% -10%  }
	20% { background-position:-15% 5%  }
	30% { background-position:7% -25%  }
	40% { background-position:-5% 25%  }
	50% { background-position:-15% 10%  }
	60% { background-position:15% 0%  }
	70% { background-position:0% 15%  }
	80% { background-position:3% 35%  }
	90% { background-position:-10% 10%  }
}

@keyframes flicker {
	0% {opacity:0;}
	9% {opacity:0;}
	10% {opacity:.5;}
	13% {opacity:0;}
	20% {opacity:.5;}
	25% {opacity:1;}
	100% {opacity:1;}
}

