* {
	transition-property: none;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;
}

*:not(head):not(style):not(meta):not(script):not(title):not(link):not(span) {
	display: block;
	position: relative;
}

::-webkit-scrollbar {
	width: 0px;  /* remove scrollbar space */
	background: transparent;  /* optional: just make scrollbar invisible */

}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.15);
}

body {
	padding: 0;
	margin: 0.5rem auto;

	user-select: none;
	-moz-user-select: none;
	height: calc( 100vh - 1rem );
  max-width: 74vw;
	overflow: hidden;

	color: var(--clr-black, black);
}

:root {
	--clr-pri: #8f479e; // Purple
	--rgb-pri: 143, 71, 158;
	--clr-sec: #4bcbe0; // Neon Blue
	--rgb-sec: 75, 203, 224;
	--clr-bg: #2d0080; // Midnight Blue
	--rgb-bg: 45, 0, 128;
	--clr-acc: #b895d4; // Pastel Purple
	--rgb-acc: 184, 149, 212;
	--clr-state: #ff00f3; // Neon Pink
	--rgb-state: 255, 0, 243;
	--clr-white: #fafaff;
	--rgb-white: 250, 250, 255; // Lightest Blue
	--clr-black: #333;
	--rgb-black: 51, 51, 51; // Mid Grey
	--clr-grey: silver;
	--clr-coal: DimGrey;

	--rads: 12px;
	--rads-min: 8px;
	--drop-shadow: 6px 6px 6px 6px rgba(0,0,0,0.35);
	--top-shadow: 0px -4px 4px 0px rgba(0,0,0,0.05);
	--inf: 9999px;

	--page-full: 960px;

	--fib-4: 8.03rem;
	--fib-3: 4.94rem;
	--fib-2: 3.09rem;
	--fib-1: 1.236rem;
	--fib-0: 0.618rem;

	--break-s: 420px;
	--break-m: 960px;
}

h1, h2, h3, h4, h5, h6, p, span {
	margin: 0;
	user-select: none;
	-moz-user-select: none;
}

h1 {
	font-size: var(--fib-4)
}

h2 {
	font-size: var(--fib-3)
}

h3 {
	font-size: var(--fib-2)
}

h4 {
	font-size: var(--fib-1)
}

h5 {
	font-size: var(--fib-0)
}

p {
	font-family: 'Anonymous Pro', monospace;
}

hr {
  margin: 0;
}
