@frame: 5rem;

// Structural Styling
body.page-home {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;

	.view {
		flex: 1;
	}

	#info {
		flex: 1;
		display: block;
		height: calc( 80vh + 2rem);
		width: 20vh;
		margin-top: 5rem;
		margin-left: 2rem;
		margin-right: 2rem;
		box-shadow:
			calc(3rem + 3px) 0 0 -3rem white,
			calc(-3rem - 3px) 0 0 -3rem white,
			0 0 0 2px var(--clr-black, black);

		article {
      padding: 1rem;
      text-align: justify;
      text-transform: uppercase;

			> * + * {
				margin-top: 1rem;
			}
		}

    > hr {
      height: 1rem;
      background-color: var(--clr-black, black);
      box-shadow:
        2px 0 0 0 var(--clr-black, black),
        -2px 0 0 0 var(--clr-black, black);
    }
	}

	i {
		z-index: 11;
	}

	header {
		width: calc(80vh - @frame + 1rem);
		height: @frame;
    box-shadow: inset 0 0 0 1px var(--clr-black, black), 0 0 0 1px var(--clr-black, black);
	}

	nav {
		display: inline-block !important;
		height: calc(100vh - @frame);
		width: @frame;
	}

	main {
		position: absolute !important;
		display: inline-block !important;
		width: 80vh;
		height: 80vh;

		.cube {
			position: relative;
			left: 50%;
			top: 60%;
			transform: translateY(-100vh);
			//
			transition: transform 1000ms ease-in-out;


			& > section {
				width: 25vh;
				height: 25vh;
				transform-origin: 0 0;
				padding: 1rem;
				box-sizing: border-box;

				&:nth-of-type(1) {
					transform:
						translate(-100%, -50%)
						scale(1, 0.5)
						skew(45deg, -45deg)
				}

				&:nth-of-type(2) {
					transform:
						translate(-100%, -50%)
						translateY(-100%)
						skew(0deg, 206.5deg)
				}

				&:nth-of-type(3) {
					transform:
						translate(-100%, -50%)
						translate(100%, -150%)
						skew(0deg, -26.5deg)
				}
			}
		}

		.title-banner {
			height: 150%;
			width: 25vh;
			position: absolute;
			top: -25%;
			transform:
				translateX(45%)
				skew(0deg, -26.5deg);
			//
			transition-duration: 750ms;
			transition-property:
				padding,
				width,
				transform;

			&.opened {
				padding-top: 15vh;
				width: 100%;
				transform:
					translateX(0)
					skew(0deg, -26.5deg);
			}
		}
	}
}

#intro-text  {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%;
	padding: 2rem;
	box-sizing: border-box;width: 45%;
}

loop-write {
  font-family: monoid, mono;
}

#intro-loop {
  padding: 0.5rem 0;
  font-size: 1.55rem;
}

#folio-content {
  display: flex;
	pointer-events: none;
	opacity: 0;
	top: 13%;
	left: 0;
	width: 75%;
	height: 35%;
	background-color: white;
	margin: 0 auto;
	border: 1px solid var(--clr-acc);
	//
	transition:
		transform 200ms ease-in-out,
		box-shadow 200ms ease-in-out,
		opacity 200ms ease-in-out;

	&.active {
		pointer-events: unset;
		transform: translate(32px, 32px);
		opacity: 0.8;
		box-shadow:
			-8px -8px rgba(255,255,255,0.3),
			-16px -16px rgba(255,255,255,0.3),
			-24px -24px rgba(255,255,255,0.3);
		//
		// animation: flicker 200ms ease-in-out;
		transition:
			opacity 500ms ease-in-out 1000ms,
			transform 500ms ease-in-out 1000ms,
			box-shadow 500ms ease-in-out 1000ms;
	}

  a {
    padding: 0.25rem;
    font-family: sans-serif;
    color: white;
    background-color: var(--clr-black);
    white-space: break-spaces;
    flex: 0;
    text-decoration: none;
  }

  iframe {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}

.grid-link {
	// outline: 1px solid var(--clr-sec);
	background-image: linear-gradient(to top left, #777 calc(50% - 0.25rem), #555 calc(51% + 0.25rem));
	border-radius: 0.5rem;
	overflow: hidden;
	cursor: pointer;

	&:hover, &.active {

		&:after {
			transform: translate(0%, 0%);
		}

		&:before {
			background-image: e('radial-gradient(ellipse at bottom left, rgba(var(--rgb-sec),0.5), transparent)');
		}
	}

	&:before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
		background-image: e('radial-gradient(ellipse at bottom left, rgba(var(--rgb-pri),0.5), transparent)');
		//
		transition: background-image 250ms ease-in-out;
	}

	&:after {
		content: attr(char);
		position: absolute;
		display: block;
		width: 100%;

		text-align: center;
		font-size: 5vh;
		font-family: chess;
		color: var(--clr-sec);
		opacity: 1;
		text-shadow: e('-1px 1px rgba(var(--rgb-sec), 0.3), -2px 2px rgba(var(--rgb-sec), 0.3), -3px 3px rgba(var(--rgb-sec), 0.3), -4px 4px rgba(var(--rgb-sec), 0.3)');

		transform: translate(-200%, 250%);
		//
		transition: transform 250ms ease-in-out;
	}
}

// Asthetic Styling
.page-home {

}

.content {
	.film-grain_b ();

	overflow: hidden;
	background-image: linear-gradient(
		to bottom,
		#695E6C,
		#9F9B92,
		#E3AF91,
		#EE9E6E,
		#C35452,
		#65414A );
	background-size: 100% 200%;
	background-position-y: 100%;
	box-shadow:
		0 0 0 calc(1rem - 1px) white,
		0 0 0 calc(1rem + 1px) var(--clr-black, black),
		0 0 0 calc(1rem - 1px) var(--clr-black, black);

	transition-property:
		background-position,
		transform;
	transition-duration: 1000ms;

	section {
		background-color: dimGrey;
		border: 1px solid var(--clr-black, black);

		&.cube-selection {
			// Hexagonal Grid

			display: grid;
			grid-template: repeat(3, 1fr) e('/') repeat(3, 1fr);
			grid-gap: 0.5rem;

			& > * {
				grid-column-end: span 1;
				grid-row-end: span 1;

				&:nth-of-type(2n) {
					// transform: translateY(-50%);
				}
			}
		}

		&.cube-codi {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			background-color: #333;
			outline-color: var(--clr-pri);
			box-shadow:
				inset 0 0 0 1rem dimgray,
				inset 1.5rem 0 0 0 var(--clr-black, black);

			hr {
				margin: -1px;
				background-color: var(--clr-pri);
				border: none;
				height: 1px;
			}
		}

		&.cube-digi {
			font-family: chess;
			text-align: center;
			outline: none;
			transform: translateY(-100vh);
			//
			transition:
				transform 1000ms ease-in-out;

			.screen {
				color: transparent;
				width: 100%;
				height: 100%;
				top: 2rem;
				left: 2rem;
				position: absolute;
				display: block;
				border: 2px solid silver;
				padding: 1rem;
				box-sizing: border-box;
				font-size: 2.5rem;
				background-color: rgba(128, 128, 128, 0.25);
				//
				transition-property:
					color,
					background-color,
					border-color;

				&-message {
					font-family: inherit;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);

				}
			}

			.arrow {

				&-left, &-right {
					color: var(--clr-black);
					background-color: var(--clr-black, black);;
					width: 2rem;
					height: 2rem;
					display: block;
					top: calc(50% - 1rem);
					position: absolute;
					border: 1px solid var(--clr-black, black);
					line-height: 2rem;
					//
					transition-property:
						background-color,
						transform;
				}

				&-left {
					left: 1rem;
				}

				&-right {
					right: 1rem;
				}
			}

			&:hover, &.active {
				.screen {
					color: var(--clr-black, black);
					background-color: e('rgba(var(--rgb-pri), 0.25)');
					border-color: var(--clr-acc);

					&-message:last-of-type {
						color: var(--clr-sec);
						opacity: 0.5;
					}
				}

				.arrow-left, .arrow-right {
					// color: e('rgba(var(--rgb-sec), 0.75)');
					background-color: rgba(255, 255, 255, 0.75);
				}

				.arrow-left {
					// left: -1rem;
					transform: translateX(-100%)
				}

				.arrow-right {
					// right: -3rem;
					transform: translateX(200%)
				}
			}
		}
	}


	.title-banner {
		background-color: e('rgba(var(--rgb-bg), 0.3)');
		background-size: 2rem 2rem;
		background-image: e('radial-gradient(
			circle,
			rgba(var(--rgb-state), 0.85) 1px,
			transparent 2px )');
		padding-top: 35vh;
		border: 1px solid var(--clr-acc);
		box-shadow:
			e('-8px 0 0 0 rgba(var(--rgb-pri), 0.5),
			inset -8px 0 0 0 rgba(var(--rgb-acc), 0.2)');

			svg {
				position: absolute;
				top: 0;
				left: 0;
			}

		h1 {
			color: white;
			opacity: 0.25;
			font-size: 3rem;

			&:hover, .active {
			}
		}
	}
}

.menu-top {
	overflow: hidden;
	height: @frame;
	width: calc(100vw - @frame);
	height: @frame;
	margin-left: 10rem;
}

span {

	&.online {
		font-size: 2rem;
		font-family: iamonline;
		display: inline-block !important;
		left: 50%;
		transform: translate(-50%);
		white-space: pre;
	}
}


.nav-main  {
}

.icon-nav {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-right: 1rem;
	position: relative;
	top: 4rem;
	box-sizing: border-box;
  box-shadow: inset 0 0 0 1px var(--clr-black, black), 0 0 0 1px var(--clr-black, black);
}

.logo-main {
	width: 10rem;
	height: 10rem;
	position: absolute;
	left: 0;
	top: 0;
	background-position: center;
	background-size: 80%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-color: white;
  box-shadow: inset 0 0 0 1px var(--clr-black, black), 0 0 0 1px var(--clr-black, black);
}

.border-line {
	width: 5rem;
	background-color: silver;
	height: calc(960px - 50vh + 1rem);
	border-top: 2px solid var(--clr-black, black);
	border-bottom: 2px solid var(--clr-black, black);
	margin-top: 1px;
}

.logo-icon {
	width: 100%;
	padding-top: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	border-radius: var(--inf, 9999px);
	cursor: pointer;

	&:after  {
		.block-elem ();

		background-image: linear-gradient(
			to bottom,
			dimGrey,
			silver );
	}
}

.text-logo {
	float: left;
	display: inline-block !important;
	line-height: @frame;
	font-size: 2rem;

	&.tw > * {
		font-family:  iamonline;
	}
}

.cube-writing {
	display: inline-block !important;
	font-size: 1rem;
	width: 100%;
	overflow: hidden;
	color: var(--clr-sec);

	&.tw > * {
		font-family:  iamonline;
	}
}

.title-writing {
	font-size: 2rem;
	// text-align: center;
	color: white;
	opacity: 0.2;
	// TODO - JN - 3D Box effect
	text-shadow:
		-1px -1px 0 var(--clr-pri),  
		1px -1px 0 var(--clr-state),
		-1px 1px 0 var(--clr-state),
		1px 1px 0 var(--clr-pri),
		-2px -2px,
		-4px -4px,
		-6px -6px,
		-8px -8px,
		-10px -10px;
}

p:hover > u.hidden {
	box-shadow: inset 0 0 0 0 var(--clr-black, black);
}

u {
	&.hidden {
		display: inline;
		box-shadow: inset 0 -2rem 0 0 var(--clr-black, black);
		text-decoration: none;
		//
		transition-property: box-shadow;

		// &:hover, &:active {
		// 	box-shadow: inset 0 0 0 0 black;
		// }
	}
}

.info-body {
	overflow: hidden;
	box-shadow: inset 2px -2px 0 0 var(--clr-black, black);
	background-color: grey;
	width: 65vw;
	max-width: 480px;
	margin: 1rem;
	height: 15%;
	transition-property: height;
	padding: 2rem;
	padding-right: 1rem;
	box-sizing: border-box;
	border-left: inset 1rem #666;
	border-bottom: inset 0.85rem var(--clr-black, black);

	& * + * {
		margin-top: 0.5rem;
	}

	input[type=text] {
		width: 100%;
		box-sizing: border-box;
	}

	p {
		text-align: center;
	}

	span {
		font-size: 3rem;
	}
}

.grid-stagger {
	display: grid;
	grid-column-gap: var(--fib-1, 1rem);
	grid-row-gap: var(--fib-3, 4rem);
	grid: repeat(3, auto) '/' repeat(2, 1fr);
	pointer-events: none;
}

.line-helper {
	align-self: center;
	background-color: var(--clr-black, black);
	height: 1rem;
	justify-self: center;
	opacity: 0.1;
	width: 1rem;
}

.grid-card {
	background: white;
	border-radius: var(--rads, 8px);
}

