.block-elem () {
	display: block;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.film-grain_b () {
	&:before  {
		.block-elem ();
		//
		// animation: grain 1s steps(2) infinite;
		background-image: @bg-grain;
		content: '';
		width: 100%;
		height: 100%;
		opacity: 0.05;
		pointer-events: none;
	}
}

.wall-inset () {
	box-shadow:
		inset 1rem 0 1rem 0 rgba(0,0,0,0.3),
		inset 1rem -0.65rem 0 0 rgba(0,0,0,0.3);
}

.wall-outset () {
	box-shadow:
		1px -1px 0 0 rgba(0,0,0,0.1),
		2px -2px 0 0 rgba(0,0,0,0.1),
		3px -3px 0 0 rgba(0,0,0,0.1),
		4px -4px 0 0 rgba(0,0,0,0.1),
		5px -5px 0 0 rgba(0,0,0,0.1),
		6px -6px 0 0 rgba(0,0,0,0.1),
		7px -7px 0 0 rgba(0,0,0,0.1);
}
