:root {
	// --bg-pos: 0%;
}

html {
	body {
		&.page-home {
			overflow: unset;
			flex-direction: column;
			height: unset;
      width: 75vw;
      margin: 0 auto;

      header {
        width: calc( 75vw - 10rem);
        border-right: unset;
        border-bottom: 2px solid;
      }

      main {
        width: calc( 100vw - 8rem - 2px);
        height: calc( 100vw - 8rem - 2px);

        .cube {

          & > section {
            width: 20vh;
            height: 20vh;
          }
        }
      }

      nav {
        height: calc(100vw - 8rem);
      }

      #info {
        width: calc( 100vw - 10rem);
        margin-top: 4rem;
        margin-left: 4rem;
        margin-right: 0rem;
        margin-bottom: 4rem;
      }
		}
	}
}

