html {
  body {
    &.page-home {
      main {
        width: 60vw;
        height: 60vw;
      }

      nav {
        height: calc(74vw - 5rem);
      }

      #info {
        width: calc( 60vw + 2rem);
        margin-top: 0;
        margin-left: 4rem;
        margin-right: 0rem;
        margin-bottom: 4rem;
      }
    }
  }
}


