@font-face {
	font-family: iamonline;
	src: url(/assets/fonts/online.ttf);
}

@font-face {
	font-family: monoid;
	src: url(/assets/fonts/monoid.ttf);
}

@font-face {
	font-family: chess;
	src: url(/assets/fonts/chess.ttf);
}

@font-face {
	font-family: neosans;
	src: url(/assets/fonts/neosans.otf);
}

html {
	h1, h2, h3, h4, h5, h6, p, span {
		font-family: monoid, Sans-Serif;
		font-size: 1em;
	}
}

