@import url(/styles/data.less);
@import url(/styles/types.less);
@import url(/styles/animations.less);
@import url(/styles/global.less);
@import url(/styles/mixins.less);

@import url(/styles/main.less);

@import url(/styles/landscape.less) only screen
and (min-aspect-ratio: 1/1);

@import url(/styles/portrait.less) only screen
and (max-aspect-ratio: 3/2);

@import url(/styles/tablet.less) only screen
and (min-aspect-ratio: 1/1)
and (max-aspect-ratio: 3/2);

